* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a13826;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    margin-bottom: 4rem;
    font-size: 4rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 380px;
    width: 100%;
}

.output {
    grid-column: 1 / 4;
    text-align: center;
    padding: 4rem;
    border: 5px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #999;
}

.time-category {
    font-weight: bold;
    color: #333;
}

.time-amount {
    display: block;
    margin: .7rem;
    font-size: 2em;
}

.time-remaining {
    font-size: 4em;
    padding: 1rem;
}

.button-menu {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border: 5px solid black;
    border-top: none;
    padding: 1rem;
    background-color: #999;
}

.button-menu div {
    text-align: center;
    margin: auto;
}

.button-menu div button {
    outline: none;
    border: none;
    padding: .7rem;
    background-color: #547c58;
    color: #111;
    font-weight: bold;
    border: 1px solid black;
    border-radius: .3em;
    margin: .8rem auto;
}

.button-menu button.btn-reset {
    background-color: #a13826;
    font-size: 1rem;
    margin: .8rem auto;
}

.button-menu div button:hover {
    background-color: #779c74;
    cursor: pointer;
}

.button-menu div button:disabled {
    display: none;
}

.main-controls button {
    display: block;
    text-align: center;
    margin: .2em auto;
    font-size: 1.3rem;
}

.change {
    font-weight: bold;
    font-size: .8em;
    color: #111;
}